.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

.sidenav {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* .mat-list-item {
  background-color: #fefefe;
} */

.mat-list-item.active{
  color: red;
}

